<!-- views/partials/header.ejs -->

<h1>
    TinyApp
</h1>

<!-- login form -->
<% if (user) { %>
<p>Currently logged in as: <%= user.email %> </p>
<form method="POST" action="/logout">
  <button name="logout">Logout</button>
</form>
<% } else{ %>
<form method="POST" action="/login">
  User ID: <input type="text" name="userid">
  <button name="submit">Login</button>
</form>
<% } %>