<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <p><%= shortURL %> - <%= longURL %></p>
  <form method="POST" action="/urls/<%= shortURL %>/update">
      Updated long URL: <input type="text" name="url">
      <button name="edit">Update</button>
    </form>
</body>
</html>